/******** RESET ********/

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


/******** BODY ********/

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}


/******** GENERAL SECTION ********/

.general-section {
    display: flex;
}

.general-section .first-bloc {
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    background-color: rgb(63, 141, 134);
}

.general-section .first-bloc h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.general-section .first-bloc .welcome {
    margin-top: 15px;
}