/******** RESET ********/

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


/******** BODY ********/

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    background-color: #d3d3d3;
}


/******** GENERAL SECTION ********/

.general-section {
    display: flex;
}

.general-section .first-bloc {
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    background-color: rgb(63, 141, 134);
}

.general-section .first-bloc h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.general-section .first-bloc p {
    color: #d3d3d3;
}

.general-section .first-bloc .welcome {
    margin: auto;
    margin-top: 40px;
    border-radius: 25px;
    padding: 10px 40px;
    width: fit-content;
    display: block;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
}


/** FOR OUR SECOND BLOC **/

.general-section .second-bloc {
    padding: 20px 80px;
    text-align: center;
    background-color: #fff;
}

.general-section .second-bloc h1 {
    margin-bottom: 20px;
    color: rgb(63, 141, 134);
}

.general-section .second-bloc .icons {
    display: flex;
    gap: 5px;
    -webkit-column-gap: 5px;
    justify-content: center;
}

.general-section .second-bloc .icons i {
    padding: 10px 11px;
    border-radius: 50%;
    color: rgb(63, 141, 134);
    background-color: #d3d3d3;
}